.wrapper {
  width: 603px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding-top: 31px;
}
.wrapper .content {
  padding-bottom: 50px;
}
.wrapper .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.wrapper .nav {
  margin-bottom: 43px;
  margin-top: 12.79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 499px;
  border-bottom: 2px solid #878787;
}
.wrapper .nav > a {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.wrapper .nav .activeAuth:before {
  content: "";
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 39px;
  width: 100%;
  height: 5px;
  background-color: #AD02E0;
  border-radius: 2px;
}
.wrapper .nav .activeReg:before {
  content: "";
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 81px;
  width: 100%;
  height: 5px;
  background-color: #AD02E0;
  border-radius: 2px;
}